
.stats-container {
  width: 90%;
  margin: 40px auto;
  background: linear-gradient(135deg, #001a4d, #000c2e);
  border-radius: 16px;
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

/* EACH ITEM */
.stat-box {
  text-align: center;
  flex: 1;
  min-width: 150px;
  margin: 10px 0;
}

/* HEADING */
.stat-box h2 {
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
}

/* SUBTEXT */
.stat-box p {
  color: #facc15; /* yellow */
  font-size: 14px;
  margin-top: 5px;
}

.stat-box:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}
.stat-box:not(:last-child) {
  border-right: 1px solid rgba(255,255,255,0.1);
}
/* RESPONSIVE */
@media (max-width: 768px) {
  .stats-container {
    flex-direction: column;
    gap: 15px;
  }
}

.text-slider {
  width: 100%;
  overflow: hidden;
  background: #0f172a;
  padding: 10px 0;
  border-top: 1px solid #1e293b;
  border-bottom: 1px solid #1e293b;
}

.slide-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.slide-track p {
  white-space: nowrap;
  font-size: 18px;
  color: #f1f5f7;
  font-weight: 500;
}


/* ANIMATION */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.text-slider:hover .slide-track {
  animation-play-state: paused;
}



/* SECTION */
.cert-section {
  background: #000;
  padding: 80px 0;
  text-align: center;
  position: relative;
}

/* TITLE */
.cert-title {
  color: white;
  font-size: 40px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

/* SLIDER */
.cert-slider {
  overflow: hidden;
  width: 100%;
}

/* TRACK */
.cert-track {
  display: flex;
  gap: 30px;
  width: max-content;
  animation: scrollCert 30s linear infinite;
}

/* CARD */
.cert-card {
  min-width: 280px;
  height: 200px;
  background: #111;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(255,255,255,0.1);
  transition: 0.3s;
}

.cert-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HOVER EFFECT */
.cert-card:hover {
  transform: scale(1.05);
}

/* ANIMATION */
@keyframes scrollCert {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .cert-card {
    min-width: 220px;
    height: 150px;
  }

  .cert-title {
    font-size: 28px;
  }
}


/* SECTION */
.syllabus {
  background: #012a7b;
  padding: 80px 10%;
}

/* LAYOUT */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

/* LEFT SIDE */
.left {
  flex: 1;
}

.tag {
  color: orange;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
}

.left h1 {
  font-size: 48px;
  color: #f4f2f2;
  margin: 20px 0;
  line-height: 1.2;
}

.highlight {
  position: relative;
}

.highlight::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 4px;
  background: orange;
  border-radius: 5px;
}

.desc {
  margin-top: 15px;
  color: #555;
  font-size: 16px;
  line-height: 1.6;
}

/* RIGHT SIDE */
.right {
  /* flex: 1; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CIRCLE */
.circle {
  width: 280px;
  height: 280px;
  background: conic-gradient(
    #f4a300 0% 70%,
    #1ea7d7 70% 90%,
    #ccc 90% 100%
  );
  border-radius: 50%;
  position: relative;
}

/* CENTER IMAGE */
.center-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-img img {
  width: 140px;
}

/* LABELS */
.label {
  position: absolute;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.projects {
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
}

.mentorship {
  right: -70px;
  top: 60%;
}

.content {
  top: -40px;
  right: 50%;
}

.label span {
  font-weight: normal;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .left h1 {
    font-size: 32px;
  }

  .circle {
    width: 220px;
    height: 220px;
  }

  .center-img img {
    width: 100px;
  }
}



